<footer class="footer">
    <div class="copyright bg-light">
        <div class="px-5 py-4">
            Copyright 2022 © SnowTricks
        </div>
    </div>
    <nav class="mobile-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </nav>
</footer>