<footer>
    <div class="copyright">
        <div class="px-5 py-4">
            Copyright 2022 © SnowTricks
        </div>
    </div>
    <nav class="mobile-nav py-3">
        <div class="d-flex flex-row justify-content-center">
            <a href="#">
                <i class="fa-solid fa-house-chimney fa-xl px-5"></i>
            </a>
            <a href="#">
                <i class="fa-solid fa-bookmark fa-xl px-5"></i>
            </a>
            {#<a href="#">
                <i class="fa-solid fa-arrow-right-to-bracket fa-xl px-5"></i>
            </a> #}
            <a href="#">
                <i class="fa-solid fa-arrow-right-from-bracket fa-xl px-5"></i>
            </a>
        </div>
    </nav>
</footer>