<div id="project-popup" class="popup" style="display: none">
    <div class="popup-content">
        <div class="popup-header">
            <h2>OpenClassrooms - SnowTricks</h2>
        </div>
        <div class="popup-body">
            <div class="popup-context">
                <h3>Contexte du projet</h3>
                <p>
                    Ce projet a été réalisé dans le cadre de la formation OpenClassrooms "Développeur d'application - PHP/Symfony".
                    <br>
                    L'objectif du projet était de créer un site communautaire autour du snowboard avec Symfony.
                </p>
                <div>
                    <p style="margin-bottom: 3px;">En plus de son cahier des charges, le projet devait respecter les consignes suivantes :</p>
                    <ul>
                        <li>Projet facilement évolutif et suivis avec Codacy afin de garantir la qualité du code</li>
                        <li>Site entièrement responsive et respect des wireframes fournis</li>
                        <li>Les figures de snowboard doivent être présentes à l'initialisation de l'application web</li>
                        <li>Librairies tierces interdites sauf pour les données initiale</li>
                    </ul>
                </div>
            </div>
            <div class="popup-skills">
                <h3>Compétences évaluées</h3>
                <ul>
                    <li>Développer une application proposant les fonctionnalités attendues par le client</li>
                    <li>Gérer une base de données MySQL ou NoSQL avec Doctrine</li>
                    <li>Organiser son code pour garantir la lisibilité et la maintenabilité</li>
                    <li>Prendre en main le moteur de templating Twig</li>
                    <li>Respecter les bonnes pratiques de développement en vigueur</li>
                    <li>Sélectionner les langages de programmation adaptés pour le développement de l’application</li>
                    <li>Prendre en main le framework Symfony</li>

                </ul>
            </div>
        </div>
        <div class="popup-footer">
            <h3>Liens utiles</h3>
            <ul>
                <li><a href="#" id="close-popup">Revenir sur le site</a></li>
                <li><a href="https://github.com/Galuss1/openclassrooms-snowtricks" target="_blank">Code source GitHub</a></li>
                <li><a href="https://www.gaelpaquien.com" target="_blank">Mon site personnel</a></li>
            </ul>
        </div>
    </div>
</div>