.nav-btn {
    background: none;
    border: none;
    color: var(--beige);
  }

.nav-btn:hover {
    color: var(--teal);
}

.nav-btn:focus {
    color: var(--beige);
}

.navigation-sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}