.delete-comment {
    color: var(--grey);
    font-weight: 500;
}

.delete-comment:hover {
    color: var(--teal);
}

.details-tricks .tricks-content .description {
    color: var(--grey);
}

.details-tricks .tricks-content .infos span,
.details-tricks .tricks-content .create-comment-btn {
    background-color: var(--grey);
    color: var(--beige);
    border: none;
    font-size: 1rem;
    padding: 5px;
    border-radius: 8px;
    height: auto;
}

.details-tricks .tricks-content .infos span {
    height: auto;
}

.details-tricks .tricks-content .create-comment-btn:hover,
.details-tricks .tricks-content .create-comment-btn:focus {
    background-color: var(--teal);
}

.details-tricks .post-comment input {
    width: 350px !important;
}

.details-tricks .post-comment input:focus-visible {
    border-color: var(--teal) !important;
}

@media (max-width: 767px) {
    .create-comment-btn {
        font-size: 0.8rem !important;
    }

    .details-tricks .post-comment input {
        width: auto !important;
    }
}

.details-tricks .tricks-content .comments img {
    height: 50px;
    width: 50px;
}

.img-circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.img-circle img {
    display: block;
    max-width: 100%;
    height: auto;
}
