.update-tricks .tricks-content .infos {
    width: 60%;
    background-color: var(--grey);
    color: var(--beige);
}

.update-tricks .tricks-content textarea {
    width: 100%;
    height: 200px;
}

.update-tricks .tricks-content .tricks-content-btn {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.update-tricks .tricks-content .delete:hover,
.update-tricks .tricks-content .delete:focus {
    background-color: var(--red);
}

.update-tricks .mobile-medias-links {
    background-color: var(--grey);
}