.update-tricks .medias {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.update-tricks .tricks-content .infos {
    background-color: var(--grey);
    color: var(--beige);
    margin-bottom: 20px !important;
}

.update-tricks form > div {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 15px !important;
}

.update-tricks .tricks-content textarea {
    width: 100%;
    height: 200px;
}

.update-tricks .tricks-content-btn {
    margin-top: 50px !important;
}

.update-tricks .tricks-content .delete,
.update-tricks .tricks-content .update {
    font-size: 1.1rem;
    width: 200px;
}

.update-tricks .tricks-content .delete:hover,
.update-tricks .tricks-content .delete:focus {
    background-color: var(--red);
}

.update-tricks .mobile-medias {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.update-tricks .mobile-medias-links {
    background-color: var(--grey);
}

@media screen and (max-width: 768px) {
    .update-tricks .tricks-content .infos {
        width: 100%;
    }

    .update-tricks .tricks-content-btn {
        justify-content: center !important;
    }
}
