{% extends 'base.html.twig' %}

{% block title %}Accueil / SnowTricks{% endblock %}

{% block body %}
    <section class="tricks" style="background-color: red; height: 1000px;"></section>
{% endblock %}