.hero {
    height: calc(100vh - 60px);
    color: var(--beige);
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ),
        url("../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
}

.hero-btn-goToTricks,
.home-btn-goToTricks {
    bottom: 12px;
    right: 12px;
    z-index: 888;
}

.hero-btn-goToTricks,
.home-btn-goToTricks,
.tricks .card-btn {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.hero-btn-goToTricks svg {
    color: var(--beige) !important;
}

.home-btn-goToTricks svg {
    color: var(--grey) !important;
}

.hero-btn-goToTricks:hover svg {
    color: var(--teal) !important;
}

.home-btn-goToTricks svg:hover {
    color: var(--teal) !important;
}

.pagination .page-link:focus {
    box-shadow: none;
}

@media (max-width: 768px) {
    .hero {
        height: 100vh;
    }

    .hero h2 {
        font-size: 1rem;
    }

    .tricks {
        padding-bottom: 50px;
    }
}

.tricks {
    background-color: var(--beige);
}

.tricks .col {
    padding-bottom: 24px;
}

.tricks .card {
    border: solid 1px var(--teal);
}

.tricks .card-img-top {
    height: 200px;
    object-fit: cover;
}

.tricks .card-title {
    font-size: 1rem;
    width: 70%;
}

.tricks .card-title a {
    color: var(--grey);
}

.tricks .card-title a:hover {
    color: var(--teal);
}

  @media (min-width: 992px) and (max-width: 1200px) {
    .tricks .card-title {
      font-size: 0.8rem;
      width: 60%;
    }
  }

.tricks .card svg {
    height: 15px;
    width: 15px;
    color: var(--grey);
}

.card-body {
    border-top: solid 1px var(--grey);
}

.card-btn-update svg:hover {
    color: var(--blue) !important;
}

.tricks .card-btn-delete svg:hover {
    color: var(--red);
}

#confirm-modal,
#confirm-modal-update-image,
#confirm-modal-update-video {
    position: fixed;
    display: none !important;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#confirm-modal::before,
#confirm-modal-update-image::before,
#confirm-modal-update-video::before {
    content: "";
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#confirm-modal .modal-content,
#confirm-modal-update-image .modal-content,
#confirm-modal-update-video .modal-content {
    position: relative;
    z-index: 1;
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#confirm-modal-update-image .modal-content,
#confirm-modal-update-video .modal-content {
    text-align: left;
}

.modal .close {
    background-color: var(--beige) !important;
    color: var(--grey) !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 30px !important;
    height: 30px !important;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-shadow: none !important;
}

.modal .close:hover {
    color: var(--red) !important;
    background-color: var(--beige) !important;
}

.modal-btn-cancel,
.confirm-modal-cancel {
    background-color: var(--grey);
    color: var(--beige);
    border: none;
}

.modal-btn-cancel:hover,
.confirm-modal-cancel:hover {
    background-color: var(--red) !important;
    color: var(--beige) !important;
}

.modal-btn-confirm,
.confirm-modal-validate {
    background-color: var(--grey);
    color: var(--beige);
    border: none;
}

.modal-btn-confirm:hover,
.confirm-modal-validate:hover {
    background-color: var(--teal);
    color: var(--beige);
}

.btn-load-tricks {
    background-color: var(--grey);
    color: var(--beige);
    border: none;
    border-radius: 18px;
    font-size: 1rem;
    padding: 10px 20px;
}

.btn-load-tricks:hover,
.btn-load-tricks:focus {
    background-color: var(--teal);
    color: var(--beige);
}
