<h1>Activer votre compte</h1>
<p>Bonjour {{ user.username }},</p>
<p>Votre inscription sur le site SnowTricks est à valider en cliquant sur le lien ci-dessous :</p>
<p><a href="{{ absolute_url(path('app_activation', {token: token})) }}">Lien</a></p>
<p>Ce lien expirera dans 24 heures.</p>
<p>À bientôt sur SnowTricks !</p>