<h1>Réinitialisation de votre mot de passe</h1>
<p>Bonjour {{ user.username }},</p>
<p>Pour réinitialiser votre mot de passe, veuillez cliquez sur le lien ci-dessous :</p>
<p><a href="{{ url|raw }}">Lien</a></p>
<p>À bientôt sur SnowTricks !</p>