{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <section class="reset-password d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center my-2">Réinitialisation du mot de passe</h1>
                    {{ form_start(passForm) }}
                    {{ form_row(passForm.password) }}
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <button type="submit" class="mb-3 w-auto">Confirmer</button>
                    </div>
                {{ form_end(passForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}