{% extends "base.html.twig" %}

{% block title %}Erreur 403 - Accès refusé{% endblock %}

{% block body %}
    <section class="error-page d-flex align-items-center py-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center my-2">Erreur 403 - Accès refusé</h1>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <a href="{{ path('main') }}" class="btn mt-4 w-auto">Revenir vers l'accueil</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}