/* Global */
:root {
  --grey: #434242;
  --black: #222;
  --beige: #f3efe0;
  --teal: #22a39f;
  --red: #e74c3c;
  --blue: #3498db;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', 'Roboto', 'Montserrat', Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  font-family: 'Roboto', sans-serif !important;
}

/* Partials (header, footer, nav...) */
header,
footer {
  background-color: var(--grey) !important;
  color: var(--beige) !important;
}

header a {
  color: var(--beige) !important;
}

header a:hover {
  color: var(--teal) !important;
}

header,
footer,
nav,
.hero {
  font-family: 'Open Sans', sans-serif !important;
}

header {
  height: 60px;
}

footer {
  height: 75px;
}

@media (max-width:767px) {
  header,
  .copyright {
    display: none !important;
  }
  
  .mobile-nav {
    display: block !important;
  }

  .mobile-nav svg {
    color: var(--beige) !important;
  }

  .mobile-nav svg:hover {
    color: var(--teal) !important;
  }
}

@media (min-width:768px) {
  .mobile-nav {
    display: none !important;
  }
}

/* Homepage */
.hero {
  height: calc(100vh - 60px);
  color: var(--beige);
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)), 
    url("../img/brands/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 10px;
}

.hero-btn-goToTricks,
.home-btn-goToTricks {
  bottom: 12px;
  right: 12px;
}

.hero-btn-goToTricks,
.home-btn-goToTricks,
.tricks .card-btn {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.hero-btn-goToTricks svg {
  color: var(--beige) !important;
}

.home-btn-goToTricks svg {
  color: var(--grey) !important;
}

.hero-btn-goToTricks:hover svg {
  color: var(--teal) !important;
}

.home-btn-goToTricks svg:hover {
  color: var(--teal) !important;
}

@media (max-width:768px) {
  .hero {
    height: 100vh;
  }

  .hero h2 {
    font-size: 1rem;
  }

  .tricks {
    padding-bottom: 50px;
  }
}

.tricks {
  background-color: var(--beige);
}

.tricks .col {
  padding-bottom: 24px;
}

.tricks .card {
  border: solid 1px var(--teal);
}

.tricks .card-title {
  font-size: 1rem;
  width: 70%;
}

.tricks .card-title a {
  color: var(--grey);
}

.tricks .card-title a:hover {
  color: var(--teal);
}

@media (min-width:992px) and (max-width:1200px) {
  .tricks .card-title {
    font-size: 0.8rem;
    width: 60%;
  }
}

.tricks .card svg {
  height: 15px;
  width: 15px;
  color: var(--grey);
}

.card-btn-update svg:hover {
  color: var(--blue) !important;
}

.tricks .card svg:hover {
  color: var(--red);
}

.tricks .modal-content {
  background-color: var(--beige);
}

.tricks .modal-title,
.tricks .modal-body {
  color: var(--black) !important;
}

@media (max-width:768px) {
  .tricks .modal-title {
    font-size: 1.1rem;
  }

  .tricks .modal-body {
    font-size: 0.8rem;
  }
}

.modal .close {
  background-color: var(--beige);
  color: var(--grey);
  border: none;
}

.modal .close:hover {
  color: var(--red);
}

.modal-btn-cancel {
  background-color: var(--grey);
  color: var(--beige);
  border: none;
}

.modal-btn-cancel:hover {
  background-color: var(--grey);
  color: var(--beige);
  opacity: 0.8;
}

.modal-btn-confirm {
  background-color: var(--teal);
  color: var(--beige);
  border: none;
}

.modal-btn-confirm:hover {
  background-color: var(--teal);
  color: var(--beige);
  opacity: 0.8;
}

.btn-load-tricks {
  background-color: var(--grey);
  color: var(--beige);
  border: none;
  border-radius: 18px;
  font-size: 1rem;
  padding: 10px 20px;
}

.btn-load-tricks:hover {
  background-color: var(--teal);
}

/* Register & Login */
.register,
.login {
  background-color: var(--beige);
  color: var(--grey) !important;
  height: calc(100vh - 110px);
}

.register .row,
.login .row {
  margin-bottom: 35px;
}

.register form,
.login form {
  width: 80%;
  margin: auto;
  border: 1px solid var(--grey);
  padding: 10px 30px;
}

@media (max-width:1200px) {
  .register,
  .login {
    height: calc(100vh - 125px);
  }
}

@media (max-width:767px) {
  .register,
  .login {
    height: calc(100vh - 75px);
  }
}

.register form div,
.login form div {
  margin: 15px 0px 15px 0px;
}

.register .form-control:focus,
.login .form-control:focus {
  border-color: var(--teal);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(34, 163, 159, 0.6);
}

.register form button,
.login form button {
  background-color: var(--grey);
  color: var(--beige);
  border: none;
  border-radius: 18px;
  font-size: 1rem;
  margin-top: 10px;
  padding: 10px 20px;
  width: 150px;
}

.register form button:hover,
.login form button:hover {
  opacity: 0.8;
  background-color: var(--teal);
  color: var(--beige);
}

.register form a,
.login form a {
  color: var(--grey);
}

.register form a:hover,
.login form a:hover {
  color: var(--teal);
}
