<!-- Modal to confirm tick deleted -->
<div id="confirm-modal">
    <div class="modal-content">
        <p id="confirm-message"></p>
        <div class="d-flex flex-row justify-content-center">
            <button id="confirm-yes" class="btn confirm-modal-validate mx-2">Confirmer</button>
            <button id="confirm-no" class="btn confirm-modal-cancel mx-2">Annuler</button>
        </div>
    </div>
</div>